# ==============================
# Python cache
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environment
# ==============================
venv/
.env/
.venv/

# ==============================
# Data files (VERY IMPORTANT)
# ==============================
data/raw/
data/processed/

# If datasets are huge, never push them
*.csv
*.zip

# ==============================
# Jupyter / logs
# ==============================
.ipynb_checkpoints/
*.log

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# Plots / Generated outputs
# ==============================
Plots/
*.png
*.jpg
*.pdf
